<main>
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <div class="row d-flex justify-content-center">
          <div class="col col-lg-4">
              <form>
                  <div class="form-group">
                    <label for="temperatura"><%= @Pregunta %></label>
                    <input type="email" class="form-control" id="temperatura" placeholder="Introduce un valor en <%= @grado %>">
                  </div>
                  <button type="submit" class="btn btn-primary">Calcula y maravillate</button>
            </form>
          </div>
          <div class="col col-lg-5">
            <h2>Grados Celsius</h2>
            <p>El grado celsius​ (históricamente conocido como centígrado;1​ símbolo ℃) es la unidad termométrica cuyo 0 se ubica 0,01 grados por debajo del punto triple del agua y su intensidad calórica equivale a la del kelvin.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
