<main>
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <div class="row d-flex justify-content-center">
          <div class="col col-lg-4">
              <form>
                  <div class="form-group">
                    <label for="temperatura"><%= @Pregunta %></label>
                    <input type="text" class="form-control" id="temperatura" placeholder="Introduce un valor en <%= @grado %>">
                  </div>
                  <button type="submit" class="btn btn-primary">Calcula y maravillate</button>
            </form>
          </div>
          <div class="col col-lg-5">
            <h2>Grados Fahrenheit</h2>
            <p>El grado Fahrenheit (representado como °F) es una escala de temperatura propuesta por Daniel Gabriel Fahrenheit en 1724. La escala establece como las temperaturas de congelación y ebullición del agua, 32 °F y 212 °F, respectivamente. El método de definición es similar al utilizado para el grado Celsius (°C).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
