  <main>
    <div class="container">
      <div class="row">
        <div class="col col-lg-12">
          <div class="row d-flex justify-content-center">
            <div class="col col-lg-2 ">
              <img class="center" src="../assets/images/termometro.png" alt="Termometro">
            </div>
            <div class="col col-lg-6">
              <h2>Qué es la temperatura</h2>
              <p>La temperatura es una magnitud referida a las nociones comunes de calor medible mediante un termómetro. En física, se define como una magnitud escalar relacionada con la energía interna de un sistema termodinámico, definida por el principio cero de la termodinámica.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
