<main>
  <div class="container">
    <div class="row">
      <div class="col col-lg-12">
        <div class="row d-flex justify-content-center">
          <div class="col col-lg-4">
              <form>
                  <div class="form-group">
                    <label for="temperatura"><%= @Pregunta %></label>
                    <input type="email" class="form-control" id="temperatura" placeholder="Introduce un valor en <%= @grado %>">
                  </div>
                  <button type="submit" class="btn btn-primary">Calcula y maravillate</button>
            </form>
          </div>
          <div class="col col-lg-5">
            <h2>Grados Kelvin</h2>
            <p>El kelvin (antes llamado grado Kelvin),1​ simbolizado como K, es la unidad de temperatura de la escala creada por William Thomson Kelvin, en el año 1848, sobre la base del grado Celsius, estableciendo el punto cero en el cero absoluto (−273,15 °C) y conservando la misma dimensión. Kelvin, a sus 24 años introdujo la escala de temperatura termodinámica, y la unidad fue nombrada en su honor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
